body{
  text-align: center;
  background-color: black;
}

.game {
  display: flex;
  flex-direction: column;
  background: url(img/background.png) center/cover;
  width: 800px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
}

.game_button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game_timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  font-size: 32px;
  margin-top: 8px;
  border-radius: 20px;
  visibility: hidden;
  user-select: none;
  cursor:auto
}

.game_score {
  width: 50px;
  height: 50px;
  font-size: 38px;
  background-color: darksalmon;
  text-align: center;
  border-radius: 50%;
  color: white;
  margin-top: 8px;
  border: 3px solid black;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game_button:hover {
  transform: scale(1.1);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.game_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game_field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top:40px;

}

.pop-up{
  display: block;
  width:400px;
  height: 120px;
  background-color:#00000090;
  color:white;
  text-align: center;
  padding: 20px;
  margin: auto;
  transform: translateY(-150%);

  border-radius: 20px;
}

.pop-up--hide{
  display: none;
}


.pop-up_refresh{
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up_message{
  display: block;
  font-size: 38px;
}

.carrot:hover,
.bug:hover{
  transform:scale(1.1);
}

.carrot, .bug{
  transition: transform 100ms ease-in;
}